<div class="top_nav"><%= link_to 'Edit', edit_admin_religion_path(@religion) %> |
<%= link_to 'Back', admin_religions_path %></div>

<div class="show_section">
	<div class="entry">
		<span class="label">Name:</span>
		<div class="description"><%= @religion.name %></div>
	</div>
	<div class="entry">
		<span class="label">Grouping:</span>
		<div class="description"><%= @religion.grouping %></div>
	</div>
</div>

<%= render 'admin/created_updated' %>

<div class="bottom_nav"><%= link_to 'Edit', edit_admin_religion_path(@religion) %> |
<%= link_to 'Back', admin_religions_path %></div>
