<div class="top_nav"><%= link_to 'Show', admin_politic_path(@politic) %> |
<%= link_to 'Back', admin_politics_path %></div>

<h1>Editing politic</h1>

<% form_for(@politic, :url => {:action => :update}) do |f| %>
  
  <%= render 'form_fields', :f=>f %>
	
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<div class="bottom_nav"><%= link_to 'Show', admin_politic_path(@politic) %> |
<%= link_to 'Back', admin_politics_path %></div>
