<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title><%= h @document_title %></title>
		<link href="http://yui.yahooapis.com/combo?2.7.0/build/reset-fonts-grids/reset-fonts-grids.css&amp;2.7.0/build/base/base-min.css" media="screen" rel="stylesheet" type="text/css">
		<link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css">
		<%#= stylesheet_link_tag 'http://yui.yahooapis.com/combo?2.7.0/build/reset-fonts-grids/reset-fonts-grids.css&2.7.0/build/base/base-min.css', 'screen' %>
		<%= javascript_include_tag 'jquery-1.3.2.min' %>
		<link rel="alternate" type="application/rss+xml" title="Mind is a Metaphor RSS Feed" href="/metaphors.rss">
	</head>
	
	<body>
		<div id="doc3" class="yui-t2">
			<div id="yui-main">
			<div id="hd" class="banner">
				<div id="header_nav">
					<ul>
						<li><%= link_to_unless_current 'Home', metaphors_path %></li>
						<li><%= link_to_unless_current 'Blog', 'http://mind.textdriven.com' %><%#= link_to_unless_current 'Blog', pages_path('blog') %></li>
						<li><%= link_to_unless_current 'About', pages_path('about') %></li>
						<li><%= link_to_unless_current 'Contact', pages_path('contact') %></li>
						<li><%= link_to 'Search', metaphors_path %></li>
					</ul>
				</div>
				
				<div id="logo_band">
					<img src="/images/logo.jpg" class="logo" alt="The Mind is a Metaphor Logo" title="The Mind is a Metaphor Logo">
				</div>
			</div>
			
			<div id="bd">
				<div id="main_content">
					<%= yield %>
				</div>
			</div>

			<div id="ft">
				<div id="ft_wrap">
				<div class="scholars_lab_logo">
					<a href="http://lib.virginia.edu/scholarslab/"><img src="/images/slab.png" alt="Scholars' Lab"/></a>
				</div>
				<div id="util_container">
					<div class="copyright">
						<a href="http://creativecommons.org/licenses/by-nc-sa/2.5/">This work is CC licensed <img src="/images/cc_logo.png" alt="creative commons"/></a>
					</div>
					<div class="rss">
						<% link_to metaphors_path(:format=>:rss, :f=>params[:f], :q=>params[:q], :sort=>'-timestamp') do %>
							Subscribe to our RSS feed <img src="/images/rss.png" alt="rss feed"/>
						<% end %>
					</div>
					<div class="contact">
						<% link_to pages_path('contact') do %>
							Contact us <img src="/images/mail.png" alt="contact"/>
						<% end %>
					</div>
				</div>
				<div id="author_container">
					<p><em>The Mind is a Metaphor</em> is authored by <a href="http://www.engl.virginia.edu/faculty/pasanek_brad.shtml">Brad Pasanek</a>, Assistant Professor of English, <a href="http://virginia.edu">University of Virginia</a>.</p>
				</div>
				</div>
			</div>
			</div>
		</div>
		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		try {
		var pageTracker = _gat._getTracker("UA-12325321-1");
		pageTracker._trackPageview();
		} catch(err) {}</script>
	</body>
</html>
